.pollWrapper {
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-rows: 1fr 3fr 0.8fr;
    background: white;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.7rem black;
 
}

.mainPartWrapper {
    height: 86vh;
}

.activePoll {
    margin: 0 10%;
    height: 100%;
    background: var(--primary-black);
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: 0 -6px var(--primary-black), 0 6px var(--primary-black), -7px 0 4px -3px rgba(153, 59, 52, 0.37), 7px 0 4px -3px rgba(153, 59, 52, 0.37);
}
.pollContentLeft{
    display: grid;
    grid-template-rows: 1fr 1fr auto;
}

.createPollFooter{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}



.alignedWrapper{
    display: grid;
    align-items: center;
    justify-items: center;
}



.createPollContent {
    display: grid;
 grid-template-columns: 1fr 1fr;
}

.createPollHeading {
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 10%, rgba(77, 47, 47, 0.2)), url('../../img/restBackg2.jpg');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    display: grid;
    align-items: center;
    justify-items: center;
}

.newPollInpDiv {
    align-items: center;
    justify-items: center;
    display: grid;
    width: 100%;
}



.newPollInputWrapper{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}




.newPollInp {
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 0.2rem solid var(--dark-green);
    padding: 1.5rem;
    width: 60%;
    transition: all 0.7s ease-in-out;
    color: var(--primary-black);
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.newPollInp::placeholder {
    color: var(--primary-black);
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0.6;
}

.NoInpPoll {
    border: 0.1rem solid var(--light-green);
    outline: none;
    color: var(--light-green);
    border-radius: 0.3rem;
    padding: 0.5rem;
    width: 20%;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.timeInfoLbl {
    color: var(--primary-black);
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.newPollInp:hover {
    border-bottom: 0.2rem solid var(--light-green);
}



.creNewPollBtns {
    width: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: white;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

.gradientDiv{
    background: linear-gradient(45deg, #222629,white,#222629);
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

.createPollDurationWrapp {
    text-align: center;
    padding-top: 2rem;
}

.leftBtnDiv {
    display: grid;
    align-items: center;
    justify-items: left;
}

.rightBtnDiv {
    display: grid;
    align-items: center;
    justify-items: right;
}

.leftBtnCreatePoll {
    width: 90%;
    background: var(--dark-green);
    padding: 0.9rem;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 0.1rem;
    cursor: pointer;
   border-radius: 0.3rem;
}

.leftBtnCreatePoll:hover {
    background: var(--light-green);
}

.rightBtnCreatePoll {
    width: 50%;
    background: var(--primary-black);
    padding: 0.9rem;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

.rightBtnCreatePoll:hover {
    background: #101113;
}



.showAllBtnWrap {
    display: grid;
    justify-items: center;
    align-items: center;
}

.showAllBtn {
    width: 50%;
    background: var(--dark-green);
    padding: 0.9rem;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border-radius: 0.7rem;
    justify-items: center;
    align-content: center;
    margin: 1.5rem 0;
}

.showAllBtn:hover {
    background: var(--light-green);
}

.filteredListWrap {
    overflow-y: scroll;
    max-height: 13rem; /*ok za laptop*/
    direction: rtl;
    width: 100%;
}

.filteredResColumn {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
}


/*----------------------------scrollbar-------------------------------------------*/

.pollListRestWrapp {
    background: white;
    overflow-y: scroll;
    max-height: 28rem; /*ok za laptop*/
    width: 98%;
    display: grid;
}

#style-6::-webkit-scrollbar-track {
    background-color: var(--dark-grey);
    border-radius: 0.5rem;
}

#style-6::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--light-grey);
}

#style-6::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: linear-gradient(to bottom, #86C232, #61892F)
}

#style-5::-webkit-scrollbar-track {
    background-color: var(--dark-grey);
    border-radius: 0.5rem;
}

#style-5::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--light-grey);
}

#style-5::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: linear-gradient(to bottom, #86C232, #61892F)
}

#style-4::-webkit-scrollbar-track {
    background-color: var(--dark-grey);
    border-radius: 0.5rem;
}

#style-4::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--light-grey);
}

#style-4::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: linear-gradient(to bottom, #86C232, #61892F)
}

/*-----------------------------------------------------------------------------------------*/

.addRestImg {
    height: 3rem;
    cursor: pointer;
    margin: 0.5rem 1.5rem 0.5rem 0;
    filter: drop-shadow(0.1rem 0.1rem 0.15rem black);
}

.restNameWrapp {
    display: grid;
    justify-items: center;
    align-items: center;
}

.restImgWrapp {
    display: grid;
    justify-items: center;
    align-items: center;
}

.restNameLbl {
    color: var(--primary-black);
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.restListWrapp {
    display: grid;
    justify-items: center;
    align-items: center;
    
}

.restaurantList {
    width: 100%;
}

.restaurantListFooter {
    background: white;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}



.restaurantsHeading {
    display: grid;
    justify-items: center;
    align-items: center;
    background: white;
}

.restWord {
    font-size: 3.8rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--primary-black);
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
}

.restaurantListTop {
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: var(--light-gray);
    font-weight: 600;
    padding: 2rem;
}

.transitionClmn {
    width: 100%;
    transition: all 2s ease-in-out;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.removeBtn {
    height: 4rem;
    cursor: pointer;
    filter: drop-shadow(0.1rem 0.1rem 0.15rem black);
}

.nameOfPickedRest {
    justify-items: center;
    align-items: center;
    display: grid;
}

.choosenRest {
    font-size: 2rem;
    color: var(--primary-black);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.removeImgWrapp {
    display: grid;
    align-items: center;
    justify-items: center;
}
.loader{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 100;
}

/*iPad*/

@media (max-width:768px) {
    .activePoll {
        margin: 0;
    }
    .pollWrapper {
        display: grid;
        height: auto;
        grid-template-columns: none;
        height: auto;
    }
    .newPollCard {
        grid-template-rows: 1fr 1fr;
    }
}

/*Mobile telephone*/

@media (max-width:500px) {
    .searchRest {
        width: 35rem;
    }
    .createPollInfo {
        width: 35rem;
    }
    .createPollDurationWrapp {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        padding-top: 0.1rem;
    }
    .NoInpPoll {
        width: 40%;
    }
    .newPollCard {
        grid-template-rows: 0.6fr 1fr 0.5fr;
    }
    .restaurantList {
        width: 35rem;
    }
}